:root{
    --navbarColor: #412234;
    --secShade: #6D466B;

    --opt1a: #7D4F50;
    --opt1b: #D1BE9C;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #0000008f;
    overflow: auto;
    position: fixed;
}

#nav-logo {
    height: 75px;
    width: 75px;
    border-radius: 500px;
    animation: slideInFromLeft 1.2s ease-in-out;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-500%);
    }
    to {
        transform: translateX(0);
    }
}

.left-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items : center ;
}

#nav-h {
    padding: 2vh 4vh;
    color: white;
    font-size: 2.5rem;
    animation: slideInFromTop 1s ease-in-out;
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0px 23px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'poppins', cursive;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    transition: color 0.4s ease;
    color: crimson;
}

nav ul li a:hover {
    color: white;
    /* border: 1px solid white; */
    border-radius: 7px;
}

nav>.leftnav {
    font-size: 2rem;
    /* font-weight: bold; */
    cursor: pointer;
    color: white;
}

#email {
    color: white;
}

.firstSection {
    display: flex;
    background-color: var(--opt1b);
    background-image: url("Images/portfoliodarkbg.jpg");
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}


.leftSection {
    font-size: 3.2rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: cursive;
    margin: 30px 50px;
    width: 50%;
    margin-left: 150px;
}

.text-1 {
    font-size: 27px;
    animation: slideInFromLefts 1.5s ease-in-out;
}

.text-3 {
    font-size: 40px;
    animation: slideInFromLefts 2s ease-in-out;
}

#element {
    color: crimson;
}

.element {
    color: crimson;
}

#cv-button {
    color: white;
    margin-top: 100px;
    background-color: crimson;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 30px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 7px;
    transition: 0.31s ease;
    margin-left: 10px;
}

#cv-button:hover {
    color: white;
    background-color: crimson;
    font-size: 1.1rem;
    border: 2px solid white;
    cursor: pointer;
}


.rightSection img {
    width: 60%;
    margin: 40px 0px;
    animation: slideInFromRight 1s ease-in-out;
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to{
        transform: translate(0);
    }
}

.text-2 {
    font-size: 70px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    animation: slideInFromLefts 1.8s ease-in-out;
}

@keyframes slideInFromLefts {
    from {
        transform: translateX(-500%);
    }
    to{
        transform: translateX(0);
    }
}

#about {
    margin-left: 140px;
    font-size: 3.2rem;
}

.secondSection {
    /* max-width: 80vw; */
    width: 82%;
    margin: auto;
    padding: 50px 20px;
    height: 40rem;
    background-color: #111;
    border-radius: 10px;
    margin-bottom: 20px;

}

.secondSection h1 {
    font-size: 2rem;
    color: white;
}

.secondSection .box {
    display: flex;
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0px;
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    margin: 0px 100px;
    background-color: white;
    display: flex;
}

.text-Grey {
    color: grey;
}

.vertical>div>h3 {
    font-size: 1.3rem;
    width: 11rem;
    color: rgb(249, 35, 71);
}

#about-para {
    font-size: 0.9rem;
}

.vertical>div {
    margin-top: 100px;
}

.vertical>div {
    color: pink;
}

.vertical-img {
    height: 55px;
    margin: -58px -26px;
}

.vertical-img-spe {
    height: 55px;
    margin: -58px -18px;
}

hr {
    border: 0;
    background-color: rgb(113, 0, 0);
    height: 2px;
    margin: 30px 150px;
}

/* skills section styling */

.max-width {
    margin: 66px 180px;
}

.skills .title ::after {
    content: "what i know";
}

#skill-heading {
    margin-top: 100px;
    margin-left: 155px;
    font-size: 3.2rem;
}

.skills-content {
    display: flex;
    box-sizing: border-box;
}

.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .left {
    padding: 14px 33px;
}

.skills .skills-content .right {
    padding: 14px 33px;
}

.skills .skills-content .left .text {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .left a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
    color: crimson;
    background: none;
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span {
    font-weight: 500;
    font-size: 20px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}

.skills-content .right .html::before {
    width: 70%;
    animation: htmlA 2s  ;
}
 @keyframes htmlA {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
 }

.skills-content .right .css::before {
    width: 80%;
    animation: cssA 2s  ;

}
@keyframes cssA {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
 }
.skills-content .right .js::before {
    width: 60%;
    animation: jsA 2s  ;

}
@keyframes jsA {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
 }

.skills-content .right .php::before {
    width: 80%;
    animation: phpA 2s  ;

}
@keyframes phpA {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
 }
.skills-content .right .react::before {
    width: 30%;
    animation: reactA 2s  ;

}
@keyframes reactA {
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
 }

.skills-content .right .mysql::before {
    width: 40%;
    animation: sqlA 2s  ;

}
@keyframes sqlA {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
 }
.skills-content .right .mongodb::before {
    width: 50%;
    animation: mongoA 2s  ;

}
@keyframes mongoA {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
 }


@keyframes slideInRight {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(20)
    }

    50% {
        transform: translate(40)
    }

    100% {
        transform: translate(70)
    }
}

.line {
    animation: 1s ease-out 0s 1 slideInRight;
}


/* Projects */
#project {
    margin-top: 100px;
    margin-left: 155px;
    font-size: 3.2rem;
}

#emptydiv {
    height: 200px;
    background-image: linear-gradient(white, grey);

}


#services {
    margin: 47px 202px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#services .box {
    width: 30%;
    margin: 20px 25px;
    border-radius: 28px;
    margin-bottom: 90px;
    background-image: linear-gradient(#fde882, #f78);
    box-shadow: 2px 2px 15px rgb(29, 29, 29);
    border: 2px solid rgb(148, 143, 143);
}

#services .box img {
    height: 190px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.flexpro {
    display: flex;
    flex-direction: row;
}

#services .box p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.eventpara {
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 12px;
    padding-bottom: 0px;
    width: 60%;
}

.rules {
    padding: 12px;
    margin-left: 30px;
    font-size: 1.6rem;
    padding-bottom: 0px;
    color: red;
}

.descri {
    font-size: 1.6rem;
}

@keyframes typewriter {
    form {
        width: 0%;
    }

    to {
        width: 50%;
    }
}

@keyframes blink {
    from {
        border-color: black;
    }

    to {
        border-color: grey;
    }
}

.h-secondary {
    font-family: serif;
    font-size: 2rem;
    margin-top: 7px;
    padding: 12px;
    color: #051277;
    color: red;
    box-shadow: 4px 4px 10px rgb(0, 0, 0);
}

/* Footer Section */

footer {
    color: white;
    background-color: #430740;
    border-top: 2px solid white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-div {
    display: flex;
    justify-content: space-around;
}

.left-foot {
    list-style: none;
    margin-top: 35px;
}

.right-foot {
    margin-top: 35px;
    list-style: none;

}

.footer-li {
    font-size: 0.9rem;
    margin: 2px 0px;
}

#copyright {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.copyright-div {
    margin: 2px;
}

.text-Grey1 {
    color: grey;
    margin-left: 150px
}



/* .light:hover{
    box-shadow: 0 0 5px rgb(236, 40, 73) ,0 0 25px rgb(236, 40, 73) ,0 0 55px rgb(236, 40, 73) ;
} */



.image-container {
    position: relative;
    width: 90vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
